/*
!.gitignore
!COPYRIGHT
!LICENSE
!README.md

!IntelliSplitters
IntelliSplitters/Binaries
IntelliSplitters/Intermediate
IntelliSplitters/Resources
IntelliSplitters/Saved
!IntelliSplitters/IntelliSplitters.uplugin
